*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-image: url('../src/imgs/mike-petrucci-c9FQyqIECds-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
